@font-face {
    font-family: 'Freckle Face Regular';
    src: url('fonts/FreckleFace-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    color: #880808;
    font-family: 'Freckle Face Regular', 'Courier New', Courier, monospace;
}

#splashScreen h1 {
    opacity: 0;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-name: fade-in-and-out;
}

.titlecard {
    text-transform: uppercase;
    background-color: black;
    color: white;
    text-shadow: 1px 5px 2px#880808;
    border: 2px solid #880808;
}

.card {
    background-color: white;
    text-shadow: 1px 1.5px 2px#880808;
    border: 2px solid #880808;
}

.opened { /* To distinguish cards that have been opened already. */
    background-color: rgba(255, 255, 255, 0.394);
}

#infoDiv {
    text-shadow: 1px 1px 1px white;
    letter-spacing: 0.1rem;
    border: 0.2rem double #880808;
}

#infoDiv h2, #infoDiv h3 {
    font-family: 'Courier New', Courier, monospace;
}

#timerDiv {
    color: white;
    text-shadow: 1px 5px 2px#880808;
    letter-spacing: 0.1rem;
    border: 0.2rem double #880808;
}

button {
    background-color: #880808;
    color: white;
}

.cloaked {
    background-color: #880808;
}