@font-face {
    font-family: 'Special Elite Regular';
    src: url('fonts/SpecialElite-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik Mono One Regular';
    src: url('fonts/RubikMonoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    color: white;
    font-family: 'Special Elite Regular', 'Courier New', Courier, monospace;
}

#splashScreen h1 {
    opacity: 0;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-name: fade-in-and-out-red;
    text-shadow: 0px 0px 10px white;
}

footer {
    font-family: 'Rubik Mono One Regular', 'Special Elite Regular', 'Courier New', Courier, monospace;
}

.titlecard, #infoDiv, button, #timerDiv {
    text-transform: uppercase;
}

.titlecard {
    text-shadow: 1px 1px 2px gray;
    border: 1px solid white;
}

.card {
    text-shadow: 2px 2px 10px #880808, 5px 5px 10px #880808, -2px -2px 10px #145f7d, -5px -5px 10px #145f7d;
    border: 1px solid white;
    font-family: 'Rubik Mono One Regular', 'Special Elite Regular', 'Courier New', Courier, monospace;
}

.opened { /* To distinguish cards that have been opened already. */
    background-color: rgba(255, 255, 255, 0.103);
    color: black;
    text-shadow: none;
}

#infoDiv {
    text-shadow: 1px 1px 1px gray;
    letter-spacing: 0.2rem;
    border: 0.2rem solid white;
}

#infoDiv h1 {
    font-family: 'Rubik Mono One Regular', 'Special Elite Regular', 'Courier New', Courier, monospace;
}

#infoDiv img {
    border: 0.5rem solid white;
    border-bottom-width: 3.5rem;
}

#timerDiv {
    text-shadow: 1px 1px 1px gray;
    letter-spacing: 0.2rem;
    border: 0.2rem solid white;
}

button {
    background-color: white;
    color: black;
}

.cloaked {
    background-color: white;
}

#gameOverDiv {
    text-shadow: 2px 2px 1px gray;
}